.themeColor {
	background-color: #011c38;
}
.themeColorText {
	color: #011c38;
}
.highlighterColor {
	background-color: #f8f9fa;
}
.highlighterText {
	color: #f8f9fa;
}
.primaryText {
	color: rgb(213, 212, 210);
}
.primaryColor {
	background-color: rgb(213, 212, 210);
}
.standardText {
	color: rgba(0, 0, 0, 0.87);
}
.standardColor {
	background-color: rgba(0, 0, 0, 0.87);
}
