/* ------------Nav bar sliding effect------------ */
.navdiv {
	color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
}
.active {
	visibility: visible;
	transition: all 0.5s;
}
.hidden {
	/* visibility: hidden; */
	transition: all 0.5s;
	transform: translateY(-57%);
}
