@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');


.menuBarItem{
    color: white;
    font-family: 'Jura';
    font-weight: bold;
    text-decoration: none;
    margin-left: 2rem;
    cursor: pointer;
}

/* .menuBarItem:hover{
    border-bottom: 4px solid #ea6645;
} */

.linkStyle{
    text-decoration: none;
    color: black;
}